---
title: Community
description: A comprehensive collection of resources dedicated to understanding and promoting integral ecology, a holistic approach to environmental and social well-being.
layout: page.njk
---

<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="@container">
            <div class="@[480px]:p-4">
                <div
                  class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-lg items-center justify-center p-4"
                  style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuBl859VWjd1HzrNUogOOUEeLompg5vU8IrtjbmtCpn7UtS_amW8eYcsSkFvZrVUVaYbhd-Jbhug2guN17IGXjqywVO_LtAqlQdMkmbIs2lFboPyKE-uxJWWFveEPouCFyvvD1lrDwrv8rkzhP0iWFqVE0bOWwnxVG74gYnf0ombjLou-fuQ8GFSxbEmvuc4uUM_-j0TNCAIQZ_HxFT_1ZuLj6ZRMPgFmcPEe55npn_QX1DiTFFpb8bei9HQVBvVGegJZQb6UqQuT1gJ");'
                >
                    <div class="flex flex-col gap-2 text-center">
                        <h1
                      class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                    >
                      Connect, Learn, and Grow with the EcoLib Community
                    </h1>
                        <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
                      Join a vibrant network of individuals passionate about integral ecology. Share insights, participate in discussions, and collaborate on projects that make a
                      difference.
                    </h2>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 @[480px]:h-12 @[480px]:px-5 bg-[#1993e5] text-white text-sm font-bold leading-normal tracking-[0.015em] @[480px]:text-base @[480px]:font-bold @[480px]:leading-normal @[480px]:tracking-[0.015em]"
                  >
                        <span class="truncate">Explore Discussions</span>
                    </button>
                </div>
            </div>
        </div>
        <h2 class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Recent Discussions</h2>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#111518] text-base font-bold leading-tight">Sustainable Agriculture Practices</p>
                        <p class="text-[#637988] text-sm font-normal leading-normal">
                      Join the conversation on innovative farming techniques that promote biodiversity and soil health.
                    </p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f3f4] text-[#111518] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">View Discussion</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBfNjFOJOjI97xuHDpKyxdKdYqpuWS7C9mhKPXejas_w3CzsdSi6_1MQmOskSTqoSv8u4lZbyosDKATPVv3tu6kL85wYrE0CwnJYxFtH0J3HB1YiItzVZKy_yowRhLjjJbd0MoVxlL6UClC5Z0e1D1h4zzek9RwQFdDuvB-6tJD-SyB1BtgiNK-u1BgNrykExpWUmNEsqX4KADk8G6yWuBuUP75ifP9-I40ENqlkmWKFaEUxcQfiMpxlZCYkHWQ4h12G_LDgAyjBgaD");'
                ></div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#111518] text-base font-bold leading-tight">Urban Ecology and Green Spaces</p>
                        <p class="text-[#637988] text-sm font-normal leading-normal">Discuss the role of green infrastructure in creating sustainable and resilient cities.</p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f3f4] text-[#111518] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">View Discussion</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBOJeO2bMRWJz_K8O8YUu_drlnqXucz8XgIwBiGaRkb91-Wr0vsaFp2C00Zt5C8wnUlO7ppdzJaNp8oleMuuQlj2kTPMRcfTz2Sxv48EscU1VWZA9mHjn7Or-l3uZw84UynS-6zDmDAGNhvPXb1BphmXgdjMm4jeDnJrybCPCysInGQOr4n4Z4kFoYaGIAc7oNb-gfu6zYDrK-s9Rczf6RdDftaUZeBlMj8teRJe7K3gB7xJx80N5Pp9CWH6r9NIEtmBavBBQv-Ax2y");'
                ></div>
            </div>
        </div>
        <h2 class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Upcoming Events</h2>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#111518] text-base font-bold leading-tight">Webinar: Climate Change and Food Security</p>
                        <p class="text-[#637988] text-sm font-normal leading-normal">
                      Learn about the impacts of climate change on global food systems and explore solutions for a sustainable future.
                    </p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f3f4] text-[#111518] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">Register Now</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAEnTWA-z5_hvc9yqLmgTxVR-lTVrqUvRJt39NhXOCm5AdLP_ZSG1jnyfl9pUmVQWlFNnn_7ISZoR-M7_ZafiPEUDDE8C7Xi8fFXMjn87tGS7LvW5ggKmkWP7k-HwC2DD_BRotYEvfPNOeB7aarzde0i03BLBhsNS6jkhvoc8gfXhIGDMF6XG0XzHaKEGX87jqLYZ9nG9aDU7k2gfeGY4P4P_y7SgANDi40nDrrb-O0Jf1IS3oOh5JNON6yPkXtARTqvV84xqKAkvSJ");'
                ></div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-lg">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#111518] text-base font-bold leading-tight">Workshop: Building a Community Garden</p>
                        <p class="text-[#637988] text-sm font-normal leading-normal">Hands-on workshop on planning, designing, and maintaining a thriving community garden.</p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-8 px-4 flex-row-reverse bg-[#f0f3f4] text-[#111518] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">Register Now</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAj3apMed-uDuoGFtd04NalBkZwg_ctlUoRjlutItNzyofZbThaofxxHi-QYY-g4cDj2gBvOlPuiZqVTfyN5_JZkMuX5bNJjHmU7StuyFaD2ikxwCyZ8aOgXbCeMSjuNYefiu3zZP66jQ81lv6FAWoGZ_tAW-h3LlObx46HfAjjF5CbXcXHKNKiMK6YMUuqbvdjUm7VRvCdCpHpSsEv46YicEILb3ZeKLRwChYULm8sDNyWdJwjzXnhH_L-PfQYK6uodz7c_6itBPda");'
                ></div>
            </div>
        </div>
        <h2 class="text-[#111518] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Community Resources</h2>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
            <div class="text-[#111518] flex items-center justify-center rounded-lg bg-[#f0f3f4] shrink-0 size-12" data-icon="FileText" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                    d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Zm-32-80a8,8,0,0,1-8,8H96a8,8,0,0,1,0-16h64A8,8,0,0,1,168,136Zm0,32a8,8,0,0,1-8,8H96a8,8,0,0,1,0-16h64A8,8,0,0,1,168,168Z"
                  ></path>
                </svg>
            </div>
            <div class="flex flex-col justify-center">
                <p class="text-[#111518] text-base font-medium leading-normal line-clamp-1">Community Guidelines</p>
                <p class="text-[#637988] text-sm font-normal leading-normal line-clamp-2">
                  Learn about our community guidelines and expectations for respectful and productive interactions.
                </p>
            </div>
        </div>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
            <div class="text-[#111518] flex items-center justify-center rounded-lg bg-[#f0f3f4] shrink-0 size-12" data-icon="Question" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                    d="M140,180a12,12,0,1,1-12-12A12,12,0,0,1,140,180ZM128,72c-22.06,0-40,16.15-40,36v4a8,8,0,0,0,16,0v-4c0-11,10.77-20,24-20s24,9,24,20-10.77,20-24,20a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-.72c18.24-3.35,32-17.9,32-35.28C168,88.15,150.06,72,128,72Zm104,56A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
                  ></path>
                </svg>
            </div>
            <div class="flex flex-col justify-center">
                <p class="text-[#111518] text-base font-medium leading-normal line-clamp-1">FAQ</p>
                <p class="text-[#637988] text-sm font-normal leading-normal line-clamp-2">
                  Find answers to frequently asked questions about the EcoLib community and its resources.
                </p>
            </div>
        </div>
        <div class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2">
            <div class="text-[#111518] flex items-center justify-center rounded-lg bg-[#f0f3f4] shrink-0 size-12" data-icon="Envelope" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                    d="M224,48H32a8,8,0,0,0-8,8V192a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A8,8,0,0,0,224,48Zm-96,85.15L52.57,64H203.43ZM98.71,128,40,181.81V74.19Zm11.84,10.85,12,11.05a8,8,0,0,0,10.82,0l12-11.05,58,53.15H52.57ZM157.29,128,216,74.18V181.82Z"
                  ></path>
                </svg>
            </div>
            <div class="flex flex-col justify-center">
                <p class="text-[#111518] text-base font-medium leading-normal line-clamp-1">Contact Us</p>
                <p class="text-[#637988] text-sm font-normal leading-normal line-clamp-2">Get in touch with our community support team for assistance or to report any issues.</p>
            </div>
        </div>
    </div>
</div>