---
title: Donate
description: Support the Digital Library of Integral Ecology.
layout: page.njk
---

<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
            <div class="flex min-w-72 flex-col gap-3">
                <h1 class="text-[#0e1b17] dark:text-[#f1f3f3] text-h1 font-h1 leading-tight">Support Our Mission</h1>
                <p class="text-[#4e977f] dark:text-[#b7e0d2] text-h5 font-h5 leading-normal">Your contribution helps us continue to provide valuable resources and support the community.</p>
            </div>
        </div>
        <div class="p-4">
            <div class="flex flex-col gap-4">
                <label class="flex flex-col min-w-40 flex-1">
                    <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal pb-2">Donation Amount</p>
                    <input
                      class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b17] dark:text-[#f1f3f3] focus:outline-0 focus:ring-0 border border-[#d0e7df] dark:border-[#1E2925] bg-[#f8fcfa] dark:bg-[#1E2925] focus:border-[#d0e7df] dark:focus:border-[#1E2925] h-14 placeholder:text-[#4e977f] dark:placeholder:text-[#b7e0d2] p-[15px] text-base font-normal leading-normal"
                      placeholder="Enter amount"
    />
                </label>
                <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#14b781] text-[#0e1b17] text-sm font-bold leading-normal tracking-[0.015em] hover:bg-[#10a370] transition-colors duration-300 shadow-md"
                  >
                    <span class="truncate">Donate</span>
                </button>
            </div>
        </div>
    </div>
</div>