---
title: Events
description: A comprehensive collection of resources dedicated to understanding and promoting integral ecology, a holistic approach to environmental and social well-being.
layout: page.njk
---

<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
            <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#121516] tracking-light text-[32px] font-bold leading-tight">Events</p>
                <p class="text-[#6a7881] text-sm font-normal leading-normal">
                  Explore upcoming and past events related to Integral Ecology. Join webinars, workshops, and conferences to deepen your understanding and engagement.
                </p>
            </div>
        </div>
        <div class="flex gap-3 p-3 flex-wrap pr-4">
            <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f3f4] pl-4 pr-2">
                <p class="text-[#121516] text-sm font-medium leading-normal">Event Type</p>
                <div class="text-[#121516]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                    </svg>
                </div>
            </button>
            <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-xl bg-[#f1f3f4] pl-4 pr-2">
                <p class="text-[#121516] text-sm font-medium leading-normal">Date Range</p>
                <div class="text-[#121516]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                    </svg>
                </div>
            </button>
        </div>
        <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Upcoming Events</h2>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">Webinar</p>
                        <p class="text-[#121516] text-base font-bold leading-tight">Sustainable Agriculture Practices</p>
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">
                      Learn about innovative techniques for sustainable farming that promote biodiversity and reduce environmental impact.
                    </p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f1f3f4] text-[#121516] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">Register Now</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDeilt4j5ASYcnfWnWgXxtrMW3UjCPnlYHnJvlWdnfjw6aNCxUQa74tW0i9rbp3BQ6832RK9hqo9hPfQ1bo5p3FGifaEoMX47LPwtC63R2mVdKlN9qCcGsy222b9NH9dyZcI3OlJg0GoZXhP1jkyNz63-MwbqZ2Wj9QgrBl9fchZNyuKdmsNQ7u1I0F8QzY5h0owJR2D3BTLWAHT1hOyEvIqxxRu0t3oe1I_NJHeOVwmy_geZHe_lbbV9_5F3JuHdZyCUuu-xBHCMsP");'
                ></div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">Workshop</p>
                        <p class="text-[#121516] text-base font-bold leading-tight">Urban Gardening for Beginners</p>
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">
                      A hands-on workshop to introduce the basics of urban gardening, including container gardening and vertical farming.
                    </p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f1f3f4] text-[#121516] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">Register Now</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCO_AHwtQCqs7AHlMo8PziKpiM6i0C1vc-PvOHaeVx2gU1Tw44BaStNWFxIaUX9pj1z7by3G8YVRj9FPYinnOisiLEH8Zhp2WNtm-xXXUhwBKr7CqSQCdJp1gejo3I65l6wfvTk_NIln9nrd1st4hqBwTZwW1W-p_AXvheIQEGQ3hbvpuvWol4iQkwBl9Sj_xf3u1ASwYudp9ILkVaCBzXW8lbNrQR0XFf4h0fWnz7YfC_Vk2ioqW91Lq6RqkgDcfs3Pu5SBb7iOmaU");'
                ></div>
            </div>
        </div>
        <h2 class="text-[#121516] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Past Events</h2>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">Conference</p>
                        <p class="text-[#121516] text-base font-bold leading-tight">Integral Ecology Summit 2023</p>
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">
                      A comprehensive summit exploring the interconnectedness of ecological, social, and spiritual dimensions of sustainability.
                    </p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f1f3f4] text-[#121516] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">View Recordings</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCWpIERpccY9INGmuqtzRKDTMaag9AhAlu0jCUP3k_Ow9Uncd0NSQisOliI3_f0UC-5u5VbYCTQr_EuWTQ6piRL_H4F5UfACgdwOONJ6ooNWcBjUMp9Q3LTJA4IjMefEyBGIobRLPo0ctoAlWYuAkTC-gP_7RhVjZeVve4PBvT-i0-xWe4uBphZG3WAIaet0DB-xY_5ZTnpKbJtBzC7l-D_rzroq_YlDslkwOQUOeHvxS45FfScV5s127LeocrVuOt9Bz831KSF1XkN");'
                ></div>
            </div>
        </div>
        <div class="p-4">
            <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-[2_2_0px] flex-col gap-4">
                    <div class="flex flex-col gap-1">
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">Webinar</p>
                        <p class="text-[#121516] text-base font-bold leading-tight">Climate Change and Social Justice</p>
                        <p class="text-[#6a7881] text-sm font-normal leading-normal">
                      An insightful webinar discussing the intersection of climate change and social justice, and strategies for equitable solutions.
                    </p>
                    </div>
                    <button
                    class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 flex-row-reverse bg-[#f1f3f4] text-[#121516] text-sm font-medium leading-normal w-fit"
                  >
                        <span class="truncate">View Recordings</span>
                    </button>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAm6MOl9WoaKWLH7yi4d-79o2nxsal_pWmA2wBtv0o2vJPZ-HoktuCRV2I70TBWNMr25L4BYuprPS6orWoN6eUIDfLmgCoiGbFnKWoYIduJAhLqMZwgXj26ETkzZ30bepVhVzS4WiXFsix5bj96BAcO-jenA7KiuIrBOJlhDbq8c45jvjmCRlU2V77YkfSTZqiKN7NSusJvtsCY2gAtrAJj5WJ3wxq1jOR_JS73Xm7f3CxauHrXAmBBRr91xkGVGU8K1IndghSxAcXF");'
                ></div>
            </div>
        </div>
    </div>
</div>