---
title: Profile
description: A comprehensive collection of resources dedicated to understanding and promoting integral ecology, a holistic approach to environmental and social well-being.
layout: page.njk
---

<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
            <div class="flex min-w-72 flex-col gap-3">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] tracking-light text-[32px] font-bold leading-tight">My Profile</p>
                <p class="text-[#4e977f] dark:text-[#b7e0d2] text-sm font-normal leading-normal">Manage your account settings and preferences.</p>
            </div>
        </div>
        <h3 class="text-[#0e1b17] dark:text-[#f1f3f3] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Account Information</h3>
        <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
            <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal pb-2">Username</p>
                <input
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b17] dark:text-[#f1f3f3] focus:outline-0 focus:ring-0 border border-[#d0e7df] dark:border-[#1E2925] bg-[#f8fcfa] dark:bg-[#1E2925] focus:border-[#d0e7df] dark:focus:border-[#1E2925] h-14 placeholder:text-[#4e977f] dark:placeholder:text-[#b7e0d2] p-[15px] text-base font-normal leading-normal"
                  value=""
/>
            </label>
        </div>
        <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
            <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal pb-2">Email</p>
                <input
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b17] dark:text-[#f1f3f3] focus:outline-0 focus:ring-0 border border-[#d0e7df] dark:border-[#1E2925] bg-[#f8fcfa] dark:bg-[#1E2925] focus:border-[#d0e7df] dark:focus:border-[#1E2925] h-14 placeholder:text-[#4e977f] dark:placeholder:text-[#b7e0d2] p-[15px] text-base font-normal leading-normal"
                  value=""
/>
            </label>
        </div>
        <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
            <label class="flex flex-col min-w-40 flex-1">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal pb-2">Password</p>
                <input
                  class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b17] dark:text-[#f1f3f3] focus:outline-0 focus:ring-0 border border-[#d0e7df] dark:border-[#1E2925] bg-[#f8fcfa] dark:bg-[#1E2925] focus:border-[#d0e7df] dark:focus:border-[#1E2925] h-14 placeholder:text-[#4e977f] dark:placeholder:text-[#b7e0d2] p-[15px] text-base font-normal leading-normal"
                  value=""
/>
            </label>
        </div>
        <div class="flex px-4 py-3 justify-start">
            <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#14b781] text-[#0e1b17] text-sm font-bold leading-normal tracking-[0.015em]"
              >
                <span class="truncate">Update Profile</span>
            </button>
        </div>
        <h3 class="text-[#0e1b17] dark:text-[#f1f3f3] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Saved Resources</h3>
        <div class="flex flex-col px-4 py-6">
            <div class="flex flex-col items-center gap-6">
                <div
                  class="bg-center bg-no-repeat aspect-video bg-cover rounded-lg w-full max-w-[360px]"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDsFw4sYTFpwXMO9t3sjEL05mbh0_9wslr7pp2rR_crhpMVho1GjoNzpmbvrg8MREwNqLTWxUtiKJZjlld6dXIdbcOcrc3pKi8-rej0e60uhjlf7MqGgq6p1JEPHnJUwBIcgRy1t2kexsiRmmq50p6fs-fH-H2chgTLnIhEjgCr1FNxYlKDfAzshvy-1q7nC-cGDnab7EtAwN0tUW3bQTA85NCNQiQDeoCSv8iLjl51Qy0agEemH93cAUQAK_s3456Z-N5nXpbIqY7E");'
                ></div>
                <div class="flex max-w-[480px] flex-col items-center gap-2">
                    <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-lg font-bold leading-tight tracking-[-0.015em] max-w-[480px] text-center">No saved resources yet</p>
                    <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-sm font-normal leading-normal max-w-[480px] text-center">Start saving resources to access them later.</p>
                </div>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#e7f3ef] dark:bg-[#1E2925] text-[#0e1b17] dark:text-[#f1f3f3] text-sm font-bold leading-normal tracking-[0.015em]"
                >
                    <span class="truncate">Explore Resources</span>
                </button>
            </div>
        </div>
        <h3 class="text-[#0e1b17] dark:text-[#f1f3f3] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Community Interactions</h3>
        <div class="flex items-center gap-4 bg-[#f8fcfa] dark:bg-[#1E2925] px-4 min-h-[72px] py-2 justify-between">
            <div class="flex flex-col justify-center">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal line-clamp-1">Forum Posts</p>
                <p class="text-[#4e977f] dark:text-[#b7e0d2] text-sm font-normal leading-normal line-clamp-2">5 posts</p>
            </div>
            <div class="shrink-0">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-normal leading-normal">View</p>
            </div>
        </div>
        <div class="flex items-center gap-4 bg-[#f8fcfa] dark:bg-[#1E2925] px-4 min-h-[72px] py-2 justify-between">
            <div class="flex flex-col justify-center">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal line-clamp-1">Comments</p>
                <p class="text-[#4e977f] dark:text-[#b7e0d2] text-sm font-normal leading-normal line-clamp-2">2 comments</p>
            </div>
            <div class="shrink-0">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-normal leading-normal">View</p>
            </div>
        </div>
        <div class="flex items-center gap-4 bg-[#f8fcfa] dark:bg-[#1E2925] px-4 min-h-[72px] py-2 justify-between">
            <div class="flex flex-col justify-center">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal line-clamp-1">Followers</p>
                <p class="text-[#4e977f] dark:text-[#b7e0d2] text-sm font-normal leading-normal line-clamp-2">3 followers</p>
            </div>
            <div class="shrink-0">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-normal leading-normal">View</p>
            </div>
        </div>
        <div class="flex items-center gap-4 bg-[#f8fcfa] dark:bg-[#1E2925] px-4 min-h-[72px] py-2 justify-between">
            <div class="flex flex-col justify-center">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-medium leading-normal line-clamp-1">Following</p>
                <p class="text-[#4e977f] dark:text-[#b7e0d2] text-sm font-normal leading-normal line-clamp-2">1 following</p>
            </div>
            <div class="shrink-0">
                <p class="text-[#0e1b17] dark:text-[#f1f3f3] text-base font-normal leading-normal">View</p>
            </div>
        </div>
    </div>
</div>