---
title: Resources
description: A comprehensive collection of resources dedicated to understanding and promoting integral ecology, a holistic approach to environmental and social well-being.
layout: page.njk
---
<div class="px-40 flex flex-1 justify-center py-5">
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <h1 class="text-[#0e1b17] tracking-light text-[32px] font-bold leading-tight px-4 text-center pb-3 pt-6">Explore the Digital Library of Integral Ecology</h1>
        <div class="px-4 py-3">
            <label class="flex flex-col min-w-40 h-12 w-full">
                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                    <div class="text-[#4e977f] flex border-none bg-[#e7f3ef] items-center justify-center pl-4 rounded-l-lg border-r-0" data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                        </svg>
                    </div>
                    <input placeholder="Search by title, author, topic, or keyword" class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0e1b17] focus:outline-0 focus:ring-0 border-none bg-[#e7f3ef] focus:border-none h-full placeholder:text-[#4e977f] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal" value=""/>
                </div>
            </label>
        </div>
        <h2 class="text-[#0e1b17] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Browse by</h2>
        <div class="pb-3">
            <div class="flex border-b border-[#d0e7df] px-4 gap-8">
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-[#14b781] text-[#0e1b17] pb-[13px] pt-4" href="#">
                    <p class="text-[#0e1b17] text-sm font-bold leading-normal tracking-[0.015em]">Discipline</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#4e977f] pb-[13px] pt-4" href="#">
                    <p class="text-[#4e977f] text-sm font-bold leading-normal tracking-[0.015em]">Keyword</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#4e977f] pb-[13px] pt-4" href="#">
                    <p class="text-[#4e977f] text-sm font-bold leading-normal tracking-[0.015em]">Theme</p>
                </a>
            </div>
        </div>
        <div class="flex gap-3 p-3 flex-wrap pr-4">
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Environmental Science</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Sustainable Development</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Ecological Economics</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Environmental Ethics</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Conservation Biology</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Climate Change</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Urban Ecology</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Restoration Ecology</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Agroecology</p>
            </div>
            <div class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-lg bg-[#e7f3ef] pl-4 pr-4">
                <p class="text-[#0e1b17] text-sm font-medium leading-normal">Environmental Policy</p>
            </div>
        </div>
        <h2 class="text-[#0e1b17] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Content</h2>
        <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
            <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                    <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCE4DITx-aOEW5FC43GIS_mounil-KO3Yaat2WpyCW-cGE3_Mf2ToHBTNjIglfYqSc-FHvJ1aYVVZooqNyFt9KnIRIKbQMKdY3pLgoMrpsCcWQOMvx0p3ENh0o2CIniMH5HtqhnoXBIhsQqjjf5SjXPa0mUN5Vk8kdS3qhq4f22d99VSqR0Mbzq6_GLfNUSXx_Y5twBWqSyqNK6o1APvRiyq1Gf3ur6pyK41yrHVlQ3_pwE0qbmwp56CLmjJ8yuRNuEDm8gnXIOsDEU");'
                  ></div>
                    <div>
                        <p class="text-[#0e1b17] text-base font-medium leading-normal">The Interconnectedness of Ecosystems</p>
                        <p class="text-[#4e977f] text-sm font-normal leading-normal">Explore the intricate relationships within ecosystems and their importance for global health.</p>
                    </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                    <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB7rFzo8b6Nt6ba2Q9BGkN9NTwBokU8aU_ylk5N5zUq2VoHlT6qMPEFE-4pob8LeB77H1Htt6otxGPYcbs9TH0zwS3cSv_yloN-2nwPPoLHXH-may2Tz2f4AX9KrIHruePiOj450DvKeDG4yDiFzcC7uxoMhALMEgXR7Lcq62Rqj2Vy_jzh2eUkuW_Px2iDCrVke7_-0g-1TiKvbtPZOVAHAhlOeTF0I5uSBiX4w-wyErtS4ePDfLOU1RQkoij_Z_WImmlNaR7r6x4k");'
                  ></div>
                    <div>
                        <p class="text-[#0e1b17] text-base font-medium leading-normal">Sustainable Practices for a Healthier Planet</p>
                        <p class="text-[#4e977f] text-sm font-normal leading-normal">Discover practical strategies for sustainable living and resource management.</p>
                    </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                    <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB2aSra-RZsFXZPMxQH7c0kKTUsmx72VOg0120kIGxUU4OSSEcmb6DiS8xPdQ5i9nhDUGk2VBw93OOpVeyvYR19ry52HnLKnNElWX2TG-_noaHLRCxUmE-tFpoPe8cYWmy-oJfgFU5h_SuABK64iXJsEMP5EelKyPF1yeU4F6H8X6RSFL-_i4xKIkxniax3K8tkyjPdxn2oSQlbqeiWnBVAxWl67cY6JNRzRMecpPX6oeKyqtGhzOw9w6IEXbbdmFC9Xu2sQ9JarqeG");'
                  ></div>
                    <div>
                        <p class="text-[#0e1b17] text-base font-medium leading-normal">The Role of Biodiversity in Ecosystem Resilience</p>
                        <p class="text-[#4e977f] text-sm font-normal leading-normal">Learn about the vital role of biodiversity in maintaining healthy and resilient ecosystems.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden" style='font-family: "Public Sans", "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">

        <div class="px-40 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col max-w-[960px] flex-1">

                <div class="flex gap-3 p-3 flex-wrap pr-4">
                    <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#f0f4f3] pl-4 pr-2">
                        <p class="text-[#111815] text-sm font-medium leading-normal">Discipline</p>
                        <div class="text-[#111815]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#f0f4f3] pl-4 pr-2">
                        <p class="text-[#111815] text-sm font-medium leading-normal">Keyword</p>
                        <div class="text-[#111815]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#f0f4f3] pl-4 pr-2">
                        <p class="text-[#111815] text-sm font-medium leading-normal">Date</p>
                        <div class="text-[#111815]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="flex h-8 shrink-0 items-center justify-center gap-x-2 rounded-full bg-[#f0f4f3] pl-4 pr-2">
                        <p class="text-[#111815] text-sm font-medium leading-normal">Sort by</p>
                        <div class="text-[#111815]" data-icon="CaretDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"></path>
                            </svg>
                        </div>
                    </button>
                </div>
                <h3 class="text-[#111815] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Results</h3>
                <div class="flex gap-4 bg-white px-4 py-3">
                    <div class="flex flex-1 flex-col justify-center">
                        <p class="text-[#111815] text-base font-medium leading-normal"><a class="underline" href="/resources/detail/">The Web of Life: Understanding Ecological Interdependence</a></p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">Published: 2022 | Discipline: Environmental Science</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">
                  This book explores the interconnectedness of ecological and social systems, advocating for a holistic approach to environmental challenges.
                </p>
                    </div>
                </div>
                <div class="flex gap-4 bg-white px-4 py-3">
                    <div class="flex flex-1 flex-col justify-center">
                        <p class="text-[#111815] text-base font-medium leading-normal">Sustainable Cities: Planning for a Green Future</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">Published: 2021 | Discipline: Urban Planning</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">
                  A comprehensive guide to sustainable practices in urban environments, covering topics from green infrastructure to community engagement.
                </p>
                    </div>
                </div>
                <div class="flex gap-4 bg-white px-4 py-3">
                    <div class="flex flex-1 flex-col justify-center">
                        <p class="text-[#111815] text-base font-medium leading-normal">The Moral Imperative of Climate Action</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">Published: 2023 | Discipline: Ethics</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">
                  This article examines the ethical dimensions of climate change, arguing for a moral imperative to address global warming.
                </p>
                    </div>
                </div>
                <div class="flex gap-4 bg-white px-4 py-3">
                    <div class="flex flex-1 flex-col justify-center">
                        <p class="text-[#111815] text-base font-medium leading-normal">Wisdom of the Elders: Indigenous Perspectives on Ecology</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">Published: 2020 | Discipline: Anthropology</p>
                        <p class="text-[#63887c] text-sm font-normal leading-normal">
                  A collection of essays exploring the role of indigenous knowledge in ecological conservation and sustainable development.
                </p>
                    </div>
                </div>
                <div class="flex items-center justify-center p-4">
                    <a href="#" class="flex size-10 items-center justify-center">
                        <div class="text-[#111815]" data-icon="CaretLeft" data-size="18px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"></path>
                            </svg>
                        </div>
                    </a>
                    <a class="text-sm font-bold leading-normal tracking-[0.015em] flex size-10 items-center justify-center text-[#111815] rounded-full bg-[#f0f4f3]" href="#">1</a>
                    <a class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-[#111815] rounded-full" href="#">2</a>
                    <a class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-[#111815] rounded-full" href="#">3</a>
                    <span class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-[#111815] rounded-full" href="#">...</span>
                    <a class="text-sm font-normal leading-normal flex size-10 items-center justify-center text-[#111815] rounded-full" href="#">10</a>
                    <a href="#" class="flex size-10 items-center justify-center">
                        <div class="text-[#111815]" data-icon="CaretRight" data-size="18px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18px" height="18px" fill="currentColor" viewBox="0 0 256 256">
                                <path d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z"></path>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>