---
title: Visualizations
description: A comprehensive collection of resources dedicated to understanding and promoting integral ecology, a holistic approach to environmental and social well-being.
layout: page.njk
---
<div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-[#111815] tracking-light text-[32px] font-bold leading-tight min-w-72">Interactive Concept Map</p>
            </div>
            <div class="@container flex flex-col h-full flex-1">
              <div class="flex flex-1 flex-col @[480px]:px-4 @[480px]:py-3">
                <div
                  class="bg-cover bg-center flex min-h-[320px] flex-1 flex-col justify-between px-4 pb-4 pt-5 @[480px]:rounded-xl @[480px]:px-8 @[480px]:pb-6 @[480px]:pt-8"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDDiHBLAX9J6KWQnT9-EHPD01mvQ-8RvpH1xfGESJmROTv1eu9mY0tUFWCWgXZA2Ip9NyiFVZyBVSROv7Z-Af07qsfDet8zkTSFWSWViaZvz1Eq0oHkkYIMSWnUSAKk5SKdCkmx-S0dRfTgCqUA5GHWTQElRasdDGT3Jn4iDe-nAoczwjLH_L1NzlmC9klVSVbL3Ld9aef84gDO2NhwHMv-ud1ivlwBHo29TzvpwNWlKMEA_1ktxzf7jVIdHrGhUBnQ7u98_vq6StHU");'
                >
                  <label class="flex flex-col min-w-40 h-12">
                    <div class="flex w-full flex-1 items-stretch rounded-xl h-full">
                      <div
                        class="text-[#608579] flex border-none bg-[#f9fbfa] items-center justify-center pl-4 rounded-l-xl border-r-0"
                        data-icon="MagnifyingGlass"
                        data-size="24px"
                        data-weight="regular"
                      >
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                          <path
                            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
                          ></path>
                        </svg>
                      </div>
                      <input
                        placeholder="Search for concepts or disciplines"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#111815] focus:outline-0 focus:ring-0 border-none bg-[#f9fbfa] focus:border-none h-full placeholder:text-[#608579] px-4 rounded-l-none border-l-0 pl-2 text-base font-normal leading-normal"
                        value=""
                      />
                    </div>
                  </label>
                  <div class="flex flex-col items-end gap-3">
                    <div class="flex flex-col gap-0.5">
                      <button class="flex size-10 items-center justify-center rounded-t-xl bg-[#f9fbfa] shadow-[0_2px_4px_rgba(0,0,0,0.1)]">
                        <div class="text-[#111815]" data-icon="Plus" data-size="24px" data-weight="regular">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
                          </svg>
                        </div>
                      </button>
                      <button class="flex size-10 items-center justify-center rounded-b-xl bg-[#f9fbfa] shadow-[0_2px_4px_rgba(0,0,0,0.1)]">
                        <div class="text-[#111815]" data-icon="Minus" data-size="24px" data-weight="regular">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z"></path>
                          </svg>
                        </div>
                      </button>
                    </div>
                    <button class="flex size-10 items-center justify-center rounded-xl bg-[#f9fbfa] shadow-[0_2px_4px_rgba(0,0,0,0.1)]">
                      <div class="text-[#111815]" data-icon="NavigationArrow" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256" transform="scale(-1, 1)">
                          <path
                            d="M229.33,98.21,53.41,33l-.16-.05A16,16,0,0,0,32.9,53.25a1,1,0,0,0,.05.16L98.21,229.33A15.77,15.77,0,0,0,113.28,240h.3a15.77,15.77,0,0,0,15-11.29l23.56-76.56,76.56-23.56a16,16,0,0,0,.62-30.38ZM224,113.3l-76.56,23.56a16,16,0,0,0-10.58,10.58L113.3,224h0l-.06-.17L48,48l175.82,65.22.16.06Z"
                          ></path>
                        </svg>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-[#608579] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">
              Explore the interconnectedness of ecological concepts. Click on nodes to expand and discover related ideas.
            </p>
            <h2 class="text-[#111815] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Sankey Diagram</h2>
            <p class="text-[#111815] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Visualize the flows between different disciplines and themes within integral ecology. Explore how various concepts and ideas are interconnected across different areas
              of study.
            </p>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2">
                <p class="text-[#111815] text-base font-medium leading-normal">Discipline Flows</p>
                <p class="text-[#111815] tracking-light text-[32px] font-bold leading-tight truncate">100%</p>
                <div class="flex gap-1">
                  <p class="text-[#608579] text-base font-normal leading-normal">Current</p>
                  <p class="text-[#07882e] text-base font-medium leading-normal">+5%</p>
                </div>
                <div class="grid min-h-[180px] grid-flow-col gap-6 grid-rows-[1fr_auto] items-end justify-items-center px-3">
                  <div class="border-[#608579] bg-[#eaf0ee] border-t-2 w-full" style="height: 30%;"></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Ecology</p>
                  <div class="border-[#608579] bg-[#eaf0ee] border-t-2 w-full" style="height: 40%;"></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Ethics</p>
                  <div class="border-[#608579] bg-[#eaf0ee] border-t-2 w-full" style="height: 50%;"></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Economics</p>
                  <div class="border-[#608579] bg-[#eaf0ee] border-t-2 w-full" style="height: 60%;"></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Spirituality</p>
                </div>
              </div>
            </div>
            <h2 class="text-[#111815] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Interactive Timeline</h2>
            <p class="text-[#111815] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Explore the historical development of integral ecology through an interactive timeline. Discover key milestones, influential figures, and significant events that have
              shaped the field.
            </p>
            <div class="grid grid-cols-[40px_1fr] gap-x-2 px-4">
              <div class="flex flex-col items-center gap-1 pt-3">
                <div class="text-[#111815]" data-icon="Tree" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M198.1,62.6a76,76,0,0,0-140.2,0A72.27,72.27,0,0,0,16,127.8C15.89,166.62,47.36,199,86.14,200A71.68,71.68,0,0,0,120,192.49V232a8,8,0,0,0,16,0V192.49A71.45,71.45,0,0,0,168,200l1.86,0c38.78-1,70.25-33.36,70.14-72.18A72.26,72.26,0,0,0,198.1,62.6ZM169.45,184a55.61,55.61,0,0,1-32.52-9.4q-.47-.3-.93-.57V132.94l43.58-21.78a8,8,0,1,0-7.16-14.32L136,115.06V88a8,8,0,0,0-16,0v51.06L83.58,120.84a8,8,0,1,0-7.16,14.32L120,156.94V174q-.47.27-.93.57A55.7,55.7,0,0,1,86.55,184a56,56,0,0,1-22-106.86,15.9,15.9,0,0,0,8.05-8.33,60,60,0,0,1,110.7,0,15.9,15.9,0,0,0,8.05,8.33,56,56,0,0,1-22,106.86Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#d6e1dd] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#111815] text-base font-medium leading-normal">Early Ecological Thought</p>
                <p class="text-[#608579] text-base font-normal leading-normal">19th Century</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#d6e1dd] h-2"></div>
                <div class="text-[#111815]" data-icon="WifiSlash" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M213.92,210.62a8,8,0,1,1-11.84,10.76l-52-57.15a60,60,0,0,0-57.41,7.24,8,8,0,1,1-9.42-12.93A75.43,75.43,0,0,1,128,144c1.28,0,2.55,0,3.82.1L104.9,114.49A108,108,0,0,0,61,135.31,8,8,0,0,1,49.73,134,8,8,0,0,1,51,122.77a124.27,124.27,0,0,1,41.71-21.66L69.37,75.4a155.43,155.43,0,0,0-40.29,24A8,8,0,0,1,18.92,87,171.87,171.87,0,0,1,58,62.86L42.08,45.38A8,8,0,1,1,53.92,34.62ZM128,192a12,12,0,1,0,12,12A12,12,0,0,0,128,192ZM237.08,87A172.3,172.3,0,0,0,106,49.4a8,8,0,1,0,2,15.87A158.33,158.33,0,0,1,128,64a156.25,156.25,0,0,1,98.92,35.37A8,8,0,0,0,237.08,87ZM195,135.31a8,8,0,0,0,11.24-1.3,8,8,0,0,0-1.3-11.24,124.25,124.25,0,0,0-51.73-24.2A8,8,0,1,0,150,114.24,108.12,108.12,0,0,1,195,135.31Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#d6e1dd] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#111815] text-base font-medium leading-normal">Emergence of Systems Thinking</p>
                <p class="text-[#608579] text-base font-normal leading-normal">Mid-20th Century</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#d6e1dd] h-2"></div>
                <div class="text-[#111815]" data-icon="GlobeHemisphereWest" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm88,104a87.62,87.62,0,0,1-6.4,32.94l-44.7-27.49a15.92,15.92,0,0,0-6.24-2.23l-22.82-3.08a16.11,16.11,0,0,0-16,7.86h-8.72l-3.8-7.86a15.91,15.91,0,0,0-11-8.67l-8-1.73L96.14,104h16.71a16.06,16.06,0,0,0,7.73-2l12.25-6.76a16.62,16.62,0,0,0,3-2.14l26.91-24.34A15.93,15.93,0,0,0,166,49.1l-.36-.65A88.11,88.11,0,0,1,216,128ZM143.31,41.34,152,56.9,125.09,81.24,112.85,88H96.14a16,16,0,0,0-13.88,8l-8.73,15.23L63.38,84.19,74.32,58.32a87.87,87.87,0,0,1,69-17ZM40,128a87.53,87.53,0,0,1,8.54-37.8l11.34,30.27a16,16,0,0,0,11.62,10l21.43,4.61L96.74,143a16.09,16.09,0,0,0,14.4,9h1.48l-7.23,16.23a16,16,0,0,0,2.86,17.37l.14.14L128,205.94l-1.94,10A88.11,88.11,0,0,1,40,128Zm102.58,86.78,1.13-5.81a16.09,16.09,0,0,0-4-13.9,1.85,1.85,0,0,1-.14-.14L120,174.74,133.7,144l22.82,3.08,45.72,28.12A88.18,88.18,0,0,1,142.58,214.78Z"
                    ></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#d6e1dd] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#111815] text-base font-medium leading-normal">Development of Deep Ecology</p>
                <p class="text-[#608579] text-base font-normal leading-normal">Late 20th Century</p>
              </div>
              <div class="flex flex-col items-center gap-1">
                <div class="w-[1.5px] bg-[#d6e1dd] h-2"></div>
                <div class="text-[#111815]" data-icon="Dot" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128Z"></path>
                  </svg>
                </div>
                <div class="w-[1.5px] bg-[#d6e1dd] h-2 grow"></div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#111815] text-base font-medium leading-normal">Integration of Spirituality</p>
                <p class="text-[#608579] text-base font-normal leading-normal">Late 20th Century</p>
              </div>
              <div class="flex flex-col items-center gap-1 pb-3">
                <div class="w-[1.5px] bg-[#d6e1dd] h-2"></div>
                <div class="text-[#111815]" data-icon="Globe" data-size="24px" data-weight="regular">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path
                      d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24ZM101.63,168h52.74C149,186.34,140,202.87,128,215.89,116,202.87,107,186.34,101.63,168ZM98,152a145.72,145.72,0,0,1,0-48h60a145.72,145.72,0,0,1,0,48ZM40,128a87.61,87.61,0,0,1,3.33-24H81.79a161.79,161.79,0,0,0,0,48H43.33A87.61,87.61,0,0,1,40,128ZM154.37,88H101.63C107,69.66,116,53.13,128,40.11,140,53.13,149,69.66,154.37,88Zm19.84,16h38.46a88.15,88.15,0,0,1,0,48H174.21a161.79,161.79,0,0,0,0-48Zm32.16-16H170.94a142.39,142.39,0,0,0-20.26-45A88.37,88.37,0,0,1,206.37,88ZM105.32,43A142.39,142.39,0,0,0,85.06,88H49.63A88.37,88.37,0,0,1,105.32,43ZM49.63,168H85.06a142.39,142.39,0,0,0,20.26,45A88.37,88.37,0,0,1,49.63,168Zm101.05,45a142.39,142.39,0,0,0,20.26-45h35.43A88.37,88.37,0,0,1,150.68,213Z"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="flex flex-1 flex-col py-3">
                <p class="text-[#111815] text-base font-medium leading-normal">Contemporary Integral Ecology</p>
                <p class="text-[#608579] text-base font-normal leading-normal">21st Century</p>
              </div>
            </div>
            <h2 class="text-[#111815] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Geospatial Map</h2>
            <p class="text-[#111815] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Explore the geographical distribution of resources related to integral ecology. Discover projects, organizations, and research centers around the world that are
              contributing to the field.
            </p>
            <div class="flex px-4 py-3">
              <div class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl object-cover" style='background-image: url("World");'></div>
            </div>
            <h2 class="text-[#111815] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Co-occurrence Network</h2>
            <p class="text-[#111815] text-base font-normal leading-normal pb-3 pt-1 px-4">
              Visualize the frequently co-occurring terms within the Digital Library of Integral Ecology. Explore the relationships between different concepts and identify key
              themes and areas of focus within the field.
            </p>
            <div class="flex flex-wrap gap-4 px-4 py-6">
              <div class="flex min-w-72 flex-1 flex-col gap-2">
                <p class="text-[#111815] text-base font-medium leading-normal">Term Co-occurrence</p>
                <p class="text-[#111815] tracking-light text-[32px] font-bold leading-tight truncate">100%</p>
                <div class="flex gap-1">
                  <p class="text-[#608579] text-base font-normal leading-normal">Current</p>
                  <p class="text-[#07882e] text-base font-medium leading-normal">+10%</p>
                </div>
                <div class="grid min-h-[180px] gap-x-4 gap-y-6 grid-cols-[auto_1fr] items-center py-3">
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Sustainability</p>
                  <div class="h-full flex-1"><div class="border-[#608579] bg-[#eaf0ee] border-r-2 h-full" style="width: 70%;"></div></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Biodiversity</p>
                  <div class="h-full flex-1"><div class="border-[#608579] bg-[#eaf0ee] border-r-2 h-full" style="width: 30%;"></div></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Climate Change</p>
                  <div class="h-full flex-1"><div class="border-[#608579] bg-[#eaf0ee] border-r-2 h-full" style="width: 90%;"></div></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Ethics</p>
                  <div class="h-full flex-1"><div class="border-[#608579] bg-[#eaf0ee] border-r-2 h-full" style="width: 50%;"></div></div>
                  <p class="text-[#608579] text-[13px] font-bold leading-normal tracking-[0.015em]">Spirituality</p>
                  <div class="h-full flex-1"><div class="border-[#608579] bg-[#eaf0ee] border-r-2 h-full" style="width: 90%;"></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>